---
import { storyblokEditable } from "@storyblok/astro";
const { blok, titulo } = Astro.props;

const text = blok.contenidoRichText.content.map((item: any) => {
  if (!item.content) return "empty";
  return item.content[0].text;
});
---

<div {...storyblokEditable(blok)} class="">
  <h1 class="text-title mb-8 text-primary">{titulo}</h1>
  <title>{titulo}</title>
  <div class="text-paragraph text-base-content-dim">
    {
      text.map((p: string) => {
        if (p === "empty") return <p>&nbsp;</p>;
        return <p>{p}</p>;
      })
    }
  </div>
</div>
