---
import Layout from "../../layouts/Layout.astro";
export function getStaticPaths() {
  return [
    { params: { texto: "cancion-de-cuna" } },
    { params: { texto: "culo" } },
    { params: { texto: "no-dejes-de-brillar" } },
    { params: { texto: "corazon-huye" } },
  ];
}

const { texto } = Astro.params;
---

<Layout title="Something">
  <div>Hola {texto} asd</div>
</Layout>
