---
// import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <h1 class="text-title mb-8 text-primary">Hola!</h1>
  <p>Bienvenido a mi página web</p>
  <p>Podés leer algunas de mis obras clickeando los títulos a la izquierda.</p>
  <p>
    O dirigirte al formulario en la parte inferior para enviarme un mensaje para
    ponerte en contacto!
  </p>
  <p>Abrazos!</p>
</Layout>
