---
// import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

// import Layout from "../layouts/Layout.astro";

console.log("VARIABLES EN INDEX process.env", process.env);
console.log("VARIABLES EN INDEX import.meta.env", import.meta.env);
---

<!-- <Layout title="Home" /> -->
<a href="/textos/palabras">Clickity click</a>
