---
// import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

// import Layout from "../layouts/Layout.astro";
---

<!-- <Layout title="Home" /> -->
<a href="/textos/palabras">Clickity click</a>
