---
import Sidebar from "./Sidebar.astro";
import { Icon } from "astro-icon";
---

<script>
  const hamburgerButton = document.getElementById("hamburger-menu");
  const sidebarWrapper = document.getElementById("sidebar-wrapper");

  const sidebarClasses = sidebarWrapper?.getAttribute("class") as string;
  hamburgerButton?.addEventListener("click", () => {
    sidebarWrapper?.setAttribute("class", sidebarClasses + "block");
  });

  sidebarWrapper?.addEventListener("click", () => {
    sidebarWrapper?.setAttribute("class", sidebarClasses);
  });
</script>

<header class="flex py-12 px-20 relative">
  <button id="hamburger-menu" class="absolute top-10 left-10 md:hidden">
    <Icon name="mdi:menu" class="text-accent w-8 h-8" />
  </button>

  <div
    id="sidebar-wrapper"
    class="fixed top-0 left-0 z-40 w-screen h-screen overflow-y-scroll hidden"
  >
    <div class="bg-white pl-4 pt-16 pr-2 w-9/12">
      <Sidebar />
    </div>
  </div>

  <a href="/" class="mt-40">
    <h1 class="prose uppercase text-main-header text-accent md:pt-0">
      Gabriela Panozzo
    </h1>
  </a>
  <img
    src="/assets/plants/plant-5.svg"
    alt="plant"
    class="absolute top-0 right-0 md:right-20"
  />
</header>
