---

---

<header class="flex py-12 px-20 relative">
  <a href="/">
    <h1 class="prose uppercase text-main-header text-accent">
      Gabriela Panozzo
    </h1>
  </a>
  <img
    src="/assets/plants/plant-5.svg"
    alt="plant"
    class="absolute top-0 right-20"
  />
</header>
