---
import { useStoryblokApi } from "@storyblok/astro";
const fullPath = Astro.url.pathname;
const textName = fullPath.split("/")[2];

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get(`cdn/stories`, {
  version:
    import.meta.env.DEV || process.env.IS_PREVIEW ? "draft" : "published",
  starts_with: "textos/",
});
---

<script>
  const aside = document.getElementById("sidebar");
  aside?.addEventListener("click", (e) => {
    e.stopPropagation();
  });
</script>

<aside class="flex flex-col gap-10" id="sidebar">
  {
    data.stories.map((texto: any) => {
      const slug = texto.slug;
      const link = `/textos/${slug}`;
      return (
        <li
          class={`list-none text-link ${
            textName === slug ? "text-primary" : "text-base-content-dim"
          }`}
        >
          <a href={link}>{texto.name}</a>
        </li>
      );
    })
  }
  <!-- <ul>
    <li>
      <a
        href="/textos/cancion-de-cuna/"
        class={textName === "cancion-de-cuna" ? "text-red-500" : ""}
        >Cancion de cuna</a
      >
    </li>
    <li>
      <a href="/textos/culo/" class={textName === "culo" ? "text-red-500" : ""}
        >Culo</a
      >
    </li>
    <li>
      <a
        href="/textos/no-dejes-de-brillar/"
        class={textName === "no-dejes-de-brillar" ? "text-red-500" : ""}
        >No dejas de brillar</a
      >
    </li>
    <li>
      <a
        href="/textos/corazon-huye/"
        class={textName === "corazon-huye" ? "text-red-500" : ""}
        >Corazon, huye</a
      >
    </li>
  </ul> -->
</aside>
