---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="light" class="font-poppins">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-[#FDF6ED]">
    <Header />
    <main
      class="flex justify-center gap-10 px-30 min-h-[80vh] pb-40 xl:pb-20 relative"
    >
      <div class="hidden md:block text-right w-[30%] pt-8">
        <Sidebar />
      </div>
      <article class="w-[60%]">
        <slot />
      </article>
      <img
        src="/assets/plants/plant-1.svg"
        alt="plant"
        class="absolute -bottom-1 right-20"
      />
      <img
        src="/assets/plants/plant-2.svg"
        alt="plant"
        class="absolute bottom-20 left-0 hidden lg:block"
      />
    </main>
    <Footer />
  </body>
</html>
